{% extends 'immoapp/base.html' %} {% block body %} {% for Estate in estate_list %}

<div class="row">
  <div class="col-md-4">
    <h3>{{ Estate.name }}</h3>
    <h5>
      {{Estate.house_type}}
    </h5>

    <h6>Living space: {{ Estate.living_space }}<br>Rooms: {{ Estate.number_rooms }}<br>Year built: {{ Estate.year_built }}</h6>
  </div>

<div class="col-md-2">
    <a href="{% url 'immoapp:detail' Estate.id %}" class="btn btn-success"
      >Details</a
    >
  </div>
</div>

{% endfor %} {% endblock %}
